/******************************************
    Version: 1.0
/****************************************** */





@media (max-width: 1310px) {

    body{
        overflow-x: hidden;

    }
    .macbookright {
        right: -25%;
    }
    body.app_version .app_iphone_01 {
        right: 0% !important;
    }
    body.app_version .app_iphone_02 {
        right: -10% !important;
    }
    body.politics_version .app_iphone_01 {
        left: 0%;
    }
}

@media (max-width: 1200px) {
    body{
        overflow-x: hidden;

    }
    body.watch_version .image-center img {
        max-width: 660px;
        top: 0;
        left: -12%;
        position: absolute !important;
        z-index: 10;
        text-align: center;
    }
    body.politics_version .app_iphone_01 {
        left: -5%;
    }
    body.watch_version .macbookright {
        right: -7%;
    }
    .header_style_01 .navbar-brand {
        padding-right: 14px;
    }
    .container-fluid {
        width: 100%;
        padding: 0 15px;
    }
    .container {
        width: 90%;
        
    }
    .first-section h2 {
        font-size: 48px;
    }
	.navbar-nav li{
		margin: 0px 5px;
	}
	.header_style_01{
		padding: 20px 20px !important;
	}
}

@media (max-width: 1158px) {
    body{
        overflow-x: hidden;

    }
    body.clinic_version .app_iphone_01 {
        right: -5%;
    }
    body.clinic_version .app_iphone_02 {
        right: 15%;
    }
    body.clinic_version .app_iphone_03 {
        right: -10%;
    }
    .header_style_01 .navbar-default .navbar-nav > li > a {
        font-size: 14px;
    }
    .first-section .lead {
        font-size: 18px;
    }
    .navbar-default .btn-light {
        display: none;
    }
    body.app_version .app_iphone_01 {
        right: -5% !important;
    }
    body.app_version .app_iphone_02 {
        right: -15% !important;
    }
	.navbar-nav li{
		margin: 0px 5px;
	}
}

@media (max-width: 1120px) {

    body{
        overflow-x: hidden;

    }
    .iphones {
        right: -30%;
        
        overflow-x: hidden;
    }
    .macbookright {
        bottom: -10%;
        right: -35%;
    }
    .how-its-work .hc {
        width: 50% !important;
    }
    body.clinic_version .how-its-work .hc {
        width: 33.3333% !important;
    }
    body.clinic_version .dev-list .widget img {
        width: 100%;
    }
	.navbar-nav li{
		margin: 0px 5px;
	}
	.header_style_01 .navbar-default .navbar-nav > li a{
		padding: 15px 10px;
	}
	.header_style_01{
		padding: 20px 30px !important;
	}
}
/*Kirti*/


@media (max-width: 992px )
{
   
    .service-dit
    {
        max-height: 230px;
        min-height: 230px;
        
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 0px;
        padding-bottom: 0px;
       
    }    
    .service-widget h3
    {   padding:0px;
        font-size: 20px;
        padding-bottom: 10px;
        padding-top:2px;
        font-weight: bolder;
      
    }
    .service-widget.container
{
    padding-left: 0px;
    padding-right: 0px;
}
.service-widget.col-md-12
{
    padding-left:0px;
    padding-right: 0px;
}
.service-widget p { 
    margin-top: 0px;
}

}
/*Kirti*/

@media (max-width: 992px ) {
    body.clinic_version .service-widget {
        margin: 15px 0;
       
       
    }
    .m40 {
        margin-top: 40px;
        
    }
    body.host_version .stat-wrap {
        text-align: center;
     
        
    }
    body.host_version .stat-wrap .alignleft {
        float: none;
        margin: 0 auto;
    }
    .apple-button i {
        font-size: 32px;
        margin: 0px 20px 0 0;
        vertical-align: middle;
    }
    body.clinic_version .affix,
    body.clinic_version .header_style_01,
    body.app_version .header_style_01 {
        width: 100% !important;
        padding: 20px 0 !important;
    }
    .apple-button strong {
        font-size: 24px;
    }
    body.app_version .header_style_01 {
        top: 0 !important;
    }
    .pricing-table {
        margin: 15px 0 !important;
    }
    hr.hr2 {
        display: none;
    }
    .stat-wrap .col-md-3,
    .icon-wrapper,
    .message-box {
        margin-bottom: 5px;
    }   
    .owl-prev i {
        display: none;
        color:Black;
    }
    .owl-next i {
        display: none;
        color: black;
    }
    
    body.clinic_version .how-its-work .hc {
        width: 100% !important;
    }
}







@media (max-width: 1000px) {
    body.politics_version .header_style_01 {
        position: relative;
        top: 0;
        background-color: #1f1f1f !important;
    }
    body.realestate_version .message-box,
    body.realestate_version .service-widget {
        margin: 15px 0;
    }
    body.realestate_version .property-detail .col-md-2 {
        margin: 15px 0;
    }
    body.realestate_version .first-section {
        padding: 10em 0 !important;
    }
    body.realestate_version .header_style_01 {
        position: relative;
        background-color: #1f1f1f;
    }
    .footer .col-xs-12 {
        margin: 15px 0;
        width: 100% !important;
    }
    body.clinic_version .app_iphone_01,
    body.clinic_version .app_iphone_02,
    body.clinic_version .app_iphone_03 {
        display: none;
    }
    body.seo_version .header_style_01 {
        background-color: #0e0e2e;
    }
    .navbar-default .btn-light {
        display: block;
        width: 100%;
        border: 0 !important;
        padding: 0 !important;
        margin: -8px -2px 0 !important;
        /* line-height: 1 !important; */
    }
    .navbar-collapse {
        margin-top: 15px;
    }
    .header_style_01 {
        background-color: #ffffff;
        display: block;
        left: 0;
        padding: 20px 0px !important;
        position: relative;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 111;
    }
    .navbar-default .navbar-toggle {
        border-color: #393939;
        color: #fff !important;
        background-color: #393939;
		border-radius: 15px 0px 15px 0px; 
    }
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
		border-color: #fd6802;
		background-color: #fd6802;
	}
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: transparent;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: left right;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
    .affix-top {
        overflow: hidden;
        visibility: visible;
        opacity: 1;
        top: 0 !important;
    }
    .header_style_01 .navbar-default .navbar-nav > li a {
        padding: 10px 20px;
    }
    .first-section .col-md-6 {
        width: 100%;
        text-align: center;
    }
    .social-links,
    .macbookright {
        display: none !important;
    }
    .footer-distributed form input {
        width: 300px;
    }
    .footer-distributed {
        padding: 0px;
        text-align: center;
    }
    .footer-distributed .footer-company-name {
       
        font-size: 12px;
       
    }
    
    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
        float: none;
        max-width: 100%;
        margin: 0 auto;
    }
    .footer-distributed .footer-left {
        padding: 4px;
        
    }
    .footer-distributed form input {
        width: 100%;
    }
	.slide-text h1{
		font-size: 28px;
		letter-spacing: 0px;
	}
	.slide-text h2{
		font-size: 16px;
	}
	.btn-light{
		padding: 13px 24px;
	}
	.section{
		padding: 0px 0;
	}
	.post-media{
		margin-bottom: 30px;
	}
	.navbar-default .navbar-toggle .icon-bar{
		background-color: #ffffff;
	}
	.home-one-slider-otem .slider-content-area{
		height: 460px;
	}
}

@media (max-width: 768px) {
    body.building_version .first-section h2 {
        font-size: 34px;
    }
    body.politics_version .issuse-wrap2 {
        margin-top: 30px;
    }
    body.seo_version .nopadtop {
        padding-top: 120px;
    }
    body.host_version .affix,
    body.host_version .header_style_01 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    body.host_version .stat-wrap .col-md-4 {
        margin: 15px 0;
    }
    .how-its-work .hc {
        width: 100% !important;
    }
    .affix,
    .header_style_01 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .m130 {
        margin-top: 0;
    }
    .footer .widget,
    .logos .col-md-2,
    .service-widget {
       
    }
    .features-left i {
        float: left;
        margin-right: 20px !important;
    }
    .fl-inner {
        text-align: left;
        margin-right: 0;
    }
    .effect-1:after {
        border: 0 !important;
        box-shadow: none !important;
    }
    .first-section {
        padding: 8em 0 6em !important;
    }
    .first-section h2 {
        font-size: 32px;
    }
	.slide-text h1{
		font-size: 28px;
		letter-spacing: 0px;
	}
	.message-box h2{
		font-size: 24px;
	}
	.left-top{
		text-align: center;
	}
	.social-box{
		float: none;
		text-align: center;
	}
	.navbar-default .navbar-toggle .icon-bar{
		background-color: #ffffff;
	}
	.banner h2{
		font-size: 30px;
	}
	.banner h2::after{
		height: 25px;
		top: 7px;
	}
	.home-one-slider-otem .slider-content-area{
		height: 460px;
	}
}

@media (max-width: 600px) {
    body.host_version .btn-light,
    body.app_version .btn-light {
        font-size: 14px;
        margin: 0 auto;
        padding: 10px 20px;
        text-align: center;
        width: 40% !important;
    }
    body.app_version .btn-light i {
        display: none !important;
    }
    .copyrights {
      
    }
    .footer-distributed {
        padding: 0;
    }
    .section-title p {
        font-size: 20px;
        line-height: 25px;
    }
    .section-title h3 {
        font-size: 28px;
    }
    .portfolio-filter ul li .btn-dark {
        width: 100%;
        display: block;
        background-color: #ffffff;
    }
    .portfolio-filter ul li {
        border-radius: 0;
        padding: 1px;
        display: inline-block;
        margin: 0 1px 2px 1px;
        text-decoration: none;
        text-transform: uppercase;
        vertical-align: middle;
        width: 49%;
        float: left;
        border: 0 solid #ededed;
    }
	.slide-text h1{
		font-size: 28px;
		letter-spacing: 0px;
	}
	.message-box h2{
		font-size: 24px;
	}
	.left-top{
		text-align: center;
	}
	.social-box{
		float: none;
		text-align: center;
	}
	.home-one-slider-otem .slider-content-area{
		height: 460px;
	}
}

@media (max-width: 600px){
    .container .address-item{
      position: relative;
      
      margin-bottom: 20px;
      left: -11%;


    }
    .address-item p{
        margin-top: 2px;
        text-align: 20px;
        font-size: 20px;
        position: relative;
        left: -2%;
    }
    .address-item {
       
   
        width: 92%;
        height: 100px;
        border: 1px solid black;
        box-shadow: rgb(0 0 0 / 10%) 0px 5px 14px;
    }
    .maihuna{
        position: relative;
        left: 46px;
        width: 90%;
    }

    .address-item .fa-envelope:before{
        font-size: 30px;
        position: relative;
        left: -65%;
    }

    .container {
        width: 90%;
       
    }


    
    
    

}


    

@media (min-width: 767px) and (max-width:  780px){
    .main_class15 {
        border: white 2px  solid;
        padding: 13px 40px  ;
        font-size: 18px;
        background: #fd6802;
        color: white;
        position: relative;
        right: -23%;
    }
    
    
}


@media (min-width: 280px) and (max-width: 285px){
    .fixed-menu img {
        position: fixed;
        left: 178px;
    
    }
}

@media (min-width: 540px) and (max-width: 600px){
    .fixed-menu img {
        position: fixed;
        left: 439px;
    
    }
}


@media (min-width: 319px) and (max-width: 325px){
    .fixed-menu img {
        position: fixed;
        left: 218px;
    
    }
}

@media (min-width: 350px) and (max-width: 365px){
    .fixed-menu img {
        position: fixed;
        left: 261px;
    
    }
}

@media (max-width: 600px){
    .container iframe{
     
        width: 90%;
        height: 70% ;
    }
/*    .main1212{
        position: relative;
        left: -18%;
        height: 146px;
        width: 382px;
}*/
        
}

@media (min-width: 1500px) and (max-width: 1550px){

    .container .address-item{
        position: relative;
        
        margin-bottom: 20px;
        left: -11%;
  
  
      }
      .address-item p{
          margin-top: 2px;
          text-align: 20px;
          font-size: 20px;
          position: relative;
          left: -2%;
      }
      .address-item {
         
     
          width: 92%;
          height: 100px;
          border: 1px solid black;
          box-shadow: rgb(0 0 0 / 10%) 0px 5px 14px;
      }
      .maihuna{
          position: relative;
          left: 46px;
          width: 90%;
      }
  
      .address-item .fa-envelope:before{
          font-size: 30px;
          position: relative;
          left: -65%;
      }
  
     .container .address-item{
        position: relative;
        
        margin-bottom: 20px;
        left: -11%;
  
  
      }
      .address-item p{
          margin-top: 2px;
          text-align: 20px;
          font-size: 20px;
          position: relative;
          left: -2%;
      }
      .address-item {
         
     
          width: 27%;
          height: 100px;
          border: 1px solid black;
          box-shadow: rgb(0 0 0 / 10%) 0px 5px 14px;
      }
      .maihuna{
          position: relative;
          left: 472px;
          width: 90%;
      }
  
      .address-item .fa-envelope:before{
          font-size: 30px;
          position: relative;
          left: -65%;
      }
  
      
}



@media (min-width: 1000px){
    .main1212{
        position: relative;
        left: -10%;
    }
    .container iframe{
     
        width: 90%;
        height: 70% ;
    }
   
}

@media (min-width: 700px) and (max-width: 999px){
    
    .main1212{
        position: relative;
        left: -21%;
    }
    .address-item {
       
   
        width: 28%;
        height: 85px;
        border: 1px solid black;
        box-shadow: rgb(0 0 0 / 10%) 0px 5px 14px;
    }
   


}


@media (min-width: 601px) and (max-width: 650px){
.fixed-menu img {
    position: fixed;
    left: 520px;

}
    .navbar-brand>img {
        display: block;
        width: 90px;
    }
}

@media (min-width: 650px) and (max-width: 700px){
    .fixed-menu img {
        position: fixed;
        left: 560px;
    
    }
        .navbar-brand>img {
            display: block;
            width: 90px;
        }
    }

@media (min-width: 700px) and (max-width: 750px){
        .fixed-menu img {
            position: fixed;
            left: 602px;
        
        }
            .navbar-brand>img {
                display: block;
                width: 90px;
            }
        }


@media (min-width: 750px) and (max-width: 850px){
            .fixed-menu img {
                position: fixed;
                left: 715px;
            
            }
                .navbar-brand>img {
                    display: block;
                    width: 90px;
                }
            }

 @media (min-width: 850px) and (max-width: 1000px){
                .fixed-menu img {
                    position: fixed;
                    left: 800px;
                
                }
                    .navbar-brand>img {
                        display: block;
                        width: 90px;
                    }
                }
@media (max-width: 600px){
    .main_class{
        border: white 2px solid;
        padding: 13px 40px;
        font-size: 18px;
        background: #fd6802;
        color: white;
        position: relative;
        right: 4%;
    }
    .main_class16{
        border: white 2px solid;
        padding: 13px 40px;
        font-size: 18px;
        background: #fd6802;
        color: white;
        position: relative;
        right: 0%;
    }
    .main_class15{
        border: white 2px solid;
        padding: 13px 40px;
        font-size: 18px;
        background: #fd6802;
        color: white;
        position: relative;
        right: -3%;
    }
    .main_class14{
        border: white 2px solid;
        padding: 13px 40px;
        font-size: 18px;
        background: #fd6802;
        color: white;
        position: relative;
        right: 4%;
    }
    
    .main_class12{
        border: white 2px solid;
        padding: 13px 40px;
        font-size: 18px;
        background: #fd6802;
        color: white;
        position: relative;
        right: -22%;
    }

    .main_class123{
        border: white 2px solid;
        padding: 13px 40px;
        font-size: 18px;
        background: #fd6802;
        color: white;
        position: relative;
        right: 4%;
    }
    .main_class1234{
        border: white 2px solid;
        padding: 13px 40px;
        font-size: 18px;
        background: #fd6802;
        color: white;
        position: relative;
        right: 1%;
    }
    .main_class131{
        border: white 2px solid;
        padding: 13px 40px;
        font-size: 18px;
        background: #fd6802;
        color: white;
        position: relative;
        right: 3%;
    }
    .main_class141{
        border: white 2px solid;
        padding: 13px 40px;
        font-size: 18px;
        background: #fd6802;
        color: white;
        position: relative;
        right: -4%;
    }
    .main_class161{
        border: white 2px solid;
        padding: 13px 40px;
        font-size: 18px;
        background: #fd6802;
        color: white;
        position: relative;
        right: 4%;
    }
    .main_class1412{
        border: white 2px solid;
        padding: 13px 40px;
        font-size: 18px;
        background: #fd6802;
        color: white;
        position: relative;
        right: -5%;

    }
    
}
@media (max-width: 400px){
.main_class13{
    border: white 2px solid;
    padding: 13px 40px;
    font-size: 18px;
    background: #fd6802;
    color: white;
    position: relative;
    right: 4%;
}
}
@media (min-width: 410px) and (max-width: 767px){
.main_class13{
    border: white 2px solid;
    padding: 13px 40px;
    font-size: 18px;
    background: #fd6802;
    color: white;
    position: relative;
    right: -7%;
}
}
@media (min-width: 760px) and (max-width: 800px){
    .main_class{
        border: white 2px solid;
        padding: 13px 40px;
        font-size: 18px;
        background: #fd6802;
        color: white;
        position: relative;
        right: -44%;
    }
    .main_class1{
        border: white 2px solid;
        padding: 13px 40px;
        font-size: 18px;
        background: #fd6802;
        color: white;
        position: relative;
        right: -24%;
    }

}
@media (min-width: 1000px) and (max-width: 1050px){
    .main_class{
        border: white 2px solid;
        padding: 13px 40px;
        font-size: 18px;
        background: #fd6802;
        color: white;
        position: relative;
        right: -54%;
    }
    .main_class1{
        border: white 2px solid;
        padding: 13px 40px;
        font-size: 18px;
        background: #fd6802;
        color: white;
        position: relative;
        right: -43%;
    }

}
@media (min-width: 400px) and (max-width: 430px){
    .main_class{
        border: white 2px solid;
        padding: 13px 40px;
        font-size: 18px;
        background: #fd6802;
        color: white;
        position: relative;
        right: -9%;
    }
    .main_class1{
        border: white 2px solid;
        padding: 13px 40px;
        font-size: 18px;
        background: #fd6802;
        color: white;
        position: relative;
        right: 3%;
    }


}


@media (min-width: 370px) and (max-width: 539px){

    .fixed-menu img{

        position: fixed;
        left: 273px;


}

}


@media (min-width: 400px) and (max-width: 430px){

    .fixed-menu img{

        position: fixed;
        left: 313px;


}
}

@media (min-width: 760px) and (max-width: 800px){

    .fixed-menu img{

        position: fixed;
        left: 36em;


}

}

/* @media (min-width: 300px) and (max-width: 350px){

    .fixed-menu img{

        position: fixed;
        left: 13em;


} */

}
/* 
@media (max-width: 1158px){
    .container iframe{
     
        width: 80%;
        height: 100% ;
    }
    .main1212{
        position: relative;
        left: 9%;
}




}




@media (max-width: 1158px){
    .container .address-item{
      position: relative;
      
      margin-bottom: 20px;
      left: -2%;


    }

    .main1212{
        position: relative;
        left: 10%;
}
    .address-item p{
        margin-top: 2px;
        text-align: center;
        font-size: 20px;
    }
    .address-item {
       
   
        width: 92%;
        height: 100px;
        border: 1px solid black;
        box-shadow: rgb(0 0 0 / 10%) 0px 5px 14px;
    }
    .maihuna{
        position: relative;
        left: 44px;
    }
    
    

} */